page-s-schedule-picker {
    textarea{
        resize:inherit;
        font-size: 16px;
        width:100%;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
    }
}
